@define-color bg #282828;
@define-color blue #488588;
@define-color fg #ebdbb2;
@define-color bg0_h #1d2021;
@define-color bg2 #504945;

* {
font-size: 16px;
font-family: 'DejaVuSansM Nerd Font Mono';
border-radius: 3px;
border: none;
background-color: @bg;
}

window {
border: 2px solid @bg2;
}

#input {
margin: 5px;
border: none;
color: @fg;
background-color: @bg0_h;
}

#inner-box {
margin: 5px;
border: none;
}

#outer-box {
margin: 5px;
border: none;
}

#scroll {
margin: none;
}

#text {
margin: 5px;
border: none;
color: @fg;
}

#entry:nth-child(even){
background-color: @bg0_h;
}

#entry:selected {
background-color: @blue;
}
